@font-face {
    font-family: 'Montserrat-ExtraLight';
    src: url('../fonts/monserrat/Montserrat-ExtraLight.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat-Medium';
    src: url('../fonts/monserrat/Montserrat-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url('../fonts/monserrat/Montserrat-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../fonts/monserrat/Montserrat-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat-ExtraLight';
    src: url('../fonts/monserrat/Montserrat-ExtraLight.ttf') format('truetype');
}

//Font 'Roboto'
@font-face {
    font-family: 'Roboto-Medium';
    src: url('../fonts/roboto/Roboto-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/roboto/Roboto-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/roboto/Roboto-Bold.ttf') format('truetype');
}